.page-detail{
    // 面包屑样式
    .m-crumbs {
        margin: 20px 0;
    }
    // 详情页标题样式
    .m-title{
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 8px;
      margin-top: 40px;
    }
    // 页面详情样式
    .m-sum-card {
      display: flex;
      background: #FFF;
      box-shadow: 0 5px 14px 0 rgba(0, 0, 0, .1);
      border-radius: 10px;
      padding: 20px;

      dt {
        flex: 1;
        padding-bottom: 10px;

        h1 {
          font-size: 26px;
          font-weight: 500;
          color: #666;
          margin-bottom: 10px;
        }

        .el-rate {
          display: inline-block;

          .el-rate__icon {
            font-size: 14px;
          }
        }

        >span {
          color: #666;
          font-size: 14px;
          margin-right: 10px;
        }
      }
      dl{
        padding-right: 20px;
        dd {
          width: 100%;
          border-top: 1px solid #e5e5e5;
          padding: 10px 0;
          color: #666;
          font-size: 14px;
          .phone{
            margin: 10px 0;
          }
          ul{
            list-style: none;
            li{
              float: left;
              width: 43px;
              text-align: center;
              font-size: 12px;
              margin: 0 10px 10px 0;
              img{
                width: 24px;
                height: 24px;
                margin-bottom: 3px;
              }
            }
          }
        }
      }

      .d-right{
        .big>img{
          border-radius: 10px;
        }
      }
      
    }
    // 商家团购及优惠 + 推荐菜 + 网友点评样式
    .m-detail-list {
      margin-top: 34px;
      h3{
        margin: 8px 0;
      }
      // 右侧- 猜你喜欢样式
      .recommend-box-wrapper{
          border: 1px solid #E5E5E5;
          margin-left: 10px;
          background-color: #fff;
          margin-top: 42px;
          .recommend-box{
            padding: 15px;
            .recommend > li{
              cursor: pointer;
              margin-bottom: 10px;
              list-style: none;
              img{
                margin: 15px 0;
                width: 100%;
              }
              .information{
                p{
                  margin-top: 5px;
                }
                .name{
                  font-size: 14px;
                }
                .score{
                  display: inline-block;
                  font-size: 12px;
                  color: #999;
                  .el-rate {
                    display: inline-block;
          
                    .el-rate__icon {
                      font-size: 12px;
                    }
                  }
                }
                .address{
                  color: #999;
                  font-size: 12px;
                }
                .pirce{
                  color: #f60;
                  span{
                    font-size: 20px;
                    margin-right: 3px;
                    font-weight: 700;
                  }
                }
              }
            }
          }
    }
    }
    // 商家团购及优惠样式
    .deal-need-login {
      padding: 30px 0;
      margin-bottom: 40px;
      text-align: center;
      background-color: #fff;
      border: 1px solid #e5e5e5;
      >img{
        display: inline-block;
        width: 160px;
        height: 120px;
        border-radius: 4px;
      }
      >span{
        display: block;
        margin: 10px 0 14px;
        color: #666;
        font-size: 16px;
        line-height: 26px;
      }
      >button{
        width: 120px;
        height: 40px;
        background-color: #13D1BE;
        border-color: #13D1BE;
        border-radius: 50px;
        a{
          font-size: 16px;
          font-weight: 600;
          color: #fff;
        }
      }
    }
    // 推荐菜样式
    .m-detail-item{
      .list{
        background: #fff;
        border: 1px solid #E5E5E5;
        padding: 30px 30px 10px;
        .product{
          display: flex;
          list-style: none;
          justify-content: space-between;
          margin-bottom: 25px;
          li{
            height: 130px;
            width: 130px;
            img{
              width: 100%;
              height: 100%;
            }
            p{
              padding: 8px 0;
              background: rgba(0,0,0,.3);
              color: #fff;
              text-align: center;
              transform: translateY(-40px);
              font-size: 14px;
              span{
                font-weight: 700;
              }
            }
          }
        }

        .menu{
          overflow: hidden;
          span{
            display: block;
            float: left;
            margin: 0 20px 19px 0;
            font-size: 16px;
            line-height: 20px;
            color: #333;
          }
        }
      }
    }
    // 网友点评样式
    .m-review-box{
      margin-top: 40px;
      .review{
        background: #fff;
        border: 1px solid #E5E5E5;
        padding: 20px;
        .review-list>ul{
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          li{
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: 14px;
            color: #666;
            padding: 5px 10px;
            border: 1px solid #e5e5e5;
          }
        }
      }
      
      .comment{
        display: flex;
        margin-top: 30px;
        .head{
          width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;
        }
        .info{
          width: 100%;
          padding-left: 20px;
          border-bottom: 1px solid #e5e5e5;
          padding-bottom: 15px;
          .name{
            margin-bottom: 5px;
          }
          .score{
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            color: #666;
          }
          .content{
            color: #666;
            padding: 10px 0 20px;
          }
          .score-img{
            overflow: hidden;
            ul{
              display: flex;
              flex-wrap: nowrap;
              list-style: none;
              margin-bottom: 30px;
              li{
                cursor: pointer;
                flex-shrink: 0;
                padding-right: 20px;
                width: 140px;
                height: 140px;
                img{
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
          .praise{
            span{
              cursor: pointer;
              float: right;
              color: #666;
              font-size: 12px;
              i{
                transform: translateY(2px);
                padding-right: 3px;
                font-size: 18px;
              }
            }
          }
        }
      }

      .pagination{
        display: flex;
        justify-content: center;
        .el-pagination {
          margin: 20px auto;
          button, ul > li{
            width: 42px;
            height: 42px;
            border: 1px solid #E5E5E5;
            background-color: #fff;
            border-radius: 50%;
            line-height: 42px;
          }
        }
      }
    }
    // 美团导航样式
    .botton-nav {
      margin: 40px auto 0;
      width: 1190px;
      height: auto;
      border: 1px solid #E5E5E5;
      border-radius: 4px;
      background: #FFFFFF;
      .title {
        width: auto;
        height: 44px;
        font-size: 16px;
        font-weight: 500;
        color: #222222;
        text-align: left;
        padding-left: 20px;
        padding-top: 6px;
        line-height: 44px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        /* margin-bottom: 6px; */
    }
    .b-n-content {
      width: 100%;
      height: auto;

      .b-n-classification {
        width: 100%;
        height: auto;
        overflow: hidden;

        .b-n-subtitle {
          width: 100px;
          height: 100%;
          float: left;
          font-size: 14px;
          font-weight: 500;
          color: #222222;
          text-align: center;
          padding: 10px 0;
      }

      .b-n-sublist {
        width: 1090px;
        height: auto;
        padding-top: 12px;
        float: left;
        border-bottom: 1px solid #E5E5E5;
        overflow: hidden;

        .b-n-list-item {
          width: 100px;
          height: 17px;
          font-size: 12px;
          text-align: left;
          margin-bottom: 13px;
          float: left;

          a {
            text-decoration: none;
            display: block;
            width: 80px;
            cursor: pointer;
            color: #666666;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            &:hover{
              text-decoration: underline;
            }
        }
      }
    }
    }
  }
    }
}
